.gemini-chat-container {
  color: #fff;
  width: 100%;
  max-height: calc(100vh - 200px);
  padding: 24px;
  overflow: auto;
  .submit-container {
    display: flex;
    gap: 12px;
    align-items: center;
    .submit {
      cursor: pointer;
      background: linear-gradient(90.43deg, #16fcd2 12.72%, #65b5ff 55.05%),
        linear-gradient(0deg, #fff, #fff);
      border-radius: 100px;
      padding: 6px;
      width: 32px;
      height: 32px;
      stroke: #121212;
    }
    .gray-btn-bg {
      background: #1d1d1d;
      border-radius: 100px;
      padding: 6px;
      width: 32px;
      height: 32px;
      stroke: #121212;
      cursor: not-allowed;
    }
  }
  .welcome-greeting-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  .greeting-container {
    text-align: center;
    h1 {
      background: linear-gradient(90.43deg, #16fcd2 12.72%, #65b5ff 55.05%),
        linear-gradient(0deg, #fff, #fff);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
  .welcome-container-card {
    // position: absolute;
    // top: 50%;
    // right: 50%;
    // transform: translate(50%, -50%);
    display: flex;
    gap: 24px;

    .card {
      color: #f8f8f8;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 8px;
      background: linear-gradient(120deg, #16fcd2 12.72%, #65b5ff 55.05%),
        linear-gradient(0deg, #fff, #fff);
      color: #121212;
      border-radius: 12px;
      padding: 24px;
      h2 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .loading {
    display: flex;
    align-items: center;
    gap: 4px;
    .spark-icon {
      stroke: #16fcd2;
      animation: rotate360 2s linear infinite;

      @keyframes rotate360 {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
  .chat-history {
    display: flex;
    flex-direction: column;
    gap: 32px;
    .chat-item {
      display: flex;
      gap: 12px;
      flex-direction: column;
      .question {
        background: linear-gradient(90.43deg, #16fcd2 12.72%, #65b5ff 55.05%),
          linear-gradient(0deg, #fff, #fff);
        max-width: fit-content;
        color: #121212;
        font-size: 14px;
        padding: 12px;
        border-radius: 24px 4px 24px 23px;
      }
      .answer {
        width: fit-content;
        max-width: 700px;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(200px);
        border: 1px solid #f8f8f833;
        padding: 12px;
        border-radius: 12px;
        font-size: 16px;
        margin-left: 10px;
        ul {
          margin-left: 14px;
          padding: 12px;
        }
        li {
          margin-left: 20px;
        }
      }
    }
  }
}
